<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>mediaPanel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}" type="text/css" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css" media="screen">
      .card:not(:first-child) {
        margin-top: 1.6rem;
      }
    </style>
    <script charset="utf-8">
      window.addEventListener("load", (event) => {
        document.querySelectorAll(".burger").forEach((burger) => {
          let nav = document.querySelector("#" + burger.dataset.target);
          nav.classList.remove("is-active");

          burger.addEventListener("click", (e)=> {
            burger.classList.toggle("is-active");
            nav.classList.toggle("is-active");
          });
        });
      });
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body class="is-light">

    <!-- Top Navbar -->
    <nav class="navbar is-spaced is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!-- Start of navbar -->
        <a class="navbar-item" href="/">
          <img src="{{ url_for('static', filename='png/mediapanel_logo.png') }}"/>
        </a>

        <!-- Burger for mobile or small screen -->
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main_navbar">
          <!-- Required to make the burger -->
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="main_navbar" class="navbar-menu is-active">
        <div class="navbar-start">
          {% if g.user %}
            <a class="navbar-item" href="{{ url_for('content_manager.list_devices') }}">Manage Devices</a>
            <a class="navbar-item" href="">Manage Groups</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">Manage Users</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="">Users</a>
                <a class="navbar-item" href="">Permission Profiles</a>
              </div>
            </div>
            <a class="navbar-item" href="">View Licenses</a>
          {% endif %}
          <a class="navbar-item" href="https://mediapanel.github.io/beta">Documentation</a>
          {% block navbar_start %}
          {% endblock %}
        </div>

        <div class="navbar-end">
          {% block navbar_end %}
          {% endblock %}
          {% if g.user %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">Hi, {{ g.user.first_name }}</a>
              <div class="navbar-dropdown is-right">
                <a class="navbar-item" href="">Account Settings</a>
                <a class="navbar-item" href="">User Settings</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/auth/logout">Log Out</a>
              </div>
            </div>
            <a class="navbar-item" href="mailto:support@getmediapanel.com">Support</a>
            <!-- ::TODO:: put client ID and user ID into above -->
          {% else %}
            <a class="navbar-item" href="mailto:support@getmediapanel.com">Support</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="columns">
        <div class="column is-2">
          {% with messages = get_flashed_messages(category_filter="notifications") %}
            {% for message in messages %}
              {% set message_values = message.split("|") %}
              <div class="notification is-{{ message_values[1] }}">
                <!-- ::TODO:: Vue @click remove parent -->
                <!--button class="delete"></button-->
                {{ message_values[0] }}
              </div>
            {% endfor %}
          {% endwith %}
        </div>
        <div class="column is-8">
          {% block body %}
          {% endblock %}
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
      <div class="container content has-text-centered">
        <div class="columns">
          <div class="column is-4">
            <a href="https://educatethewait.com">
              <img class="column is-12" src="{{ url_for('static',
                filename='png/educatethewait_logo.png') }}" />
            </a>
          </div>
          <div class="column is-8">
            <p>
            Visit
            <a href="https://educatethewait.com">Educate the Wait</a>
            to purchase new mediaPanel devices, manage your license subscriptions,
            and learn more about other services that we have to offer.
            </p>
            <p>
            &copy; 2020 Great Plains Marketing
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
