{% extends "base.html" %}

{% block body %}
<!-- no card -->
<div class="columns">
  <div class="column is-4 is-offset-4">
    <div class="columns is-gapless is-multiline"><!-- branding -->
      <img class="column is-12" src="{{ url_for('static', filename='png/mediapanel_logo.png') }}" />
    </div>
    <form method="POST">
      <div class="field">
        <label class="label">Email address</label>
        <div class="control">
          <input class="input" type="email" name="email" id="email" value="">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password" id="password" value="">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <input class="button is-primary" type="submit" name="Submit"
            id="submit" value="Sign In">
          <a class="button is-primary" href="{{ url_for(".register") }}">Register</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
